<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Home</title>
        <link rel="stylesheet" href="static/assets/css/style.css">
    </head>
    <body>
        <div class="banner">
            <video autoplay loop muted plays-inline>
                <source src="static/assets/video/2.mp4" type="video/mp4">
            </video>
            <div class="navbar">
                <img class="logo" src="static/assets/image/logo.png">
                <ul>
                    <li><a href="logout">Logout</a></li>
                </ul>
            </div>
            <div class="content">
<!--                <h1>WELCOME ADMIN</h1>-->
                <div>
                    <a href="admin_laptop"><button>Products</button></a><br>
                    <a href="admin_user"><button>Users</button></a><br>
                </div>
            </div>
        </div>
    </body>
</html>
